
Input,select{
    width: 200px;
}
.App{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form{
    border: 1px black solid;
    border-radius: 21px;
    width: 480px;
    padding: 20px;
}
Button{
    width: 100px;
    height: 50px;
    border-radius: 8px;
    margin: 20px 0 20px 120px;
}